<?xml version="1.0"?>
<launch>
  <arg name="camera_tf_root" value="realsense"/>
  <arg name="camera_link_frame_name" value="$(arg camera_tf_root)_link"/>

  <!-- Extract a slice from the pointcloud and re-publish as LaserScan -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
  <node pkg="nodelet" type="nodelet" name="depthmap_to_laserscan"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet nodelet_manager"
        required="true">
    <param name="scan_height" type="int" value="5"/>
    <param name="scan_time" type="double" value="0.03333"/>
    <param name="range_max" type="double" value="5.0"/>
    <param name="range_min" type="double" value="0.150"/>
    <!-- <param name="output_frame_id" type="str" value="$(arg camera_link_frame_name)_scan"/> -->
    <param name="output_frame_id" type="str" value="slamcore/lasercan"/>
    <remap from="camera_info" to="/slamcore/depth/camera_info"/>
    <remap from="image" to="/slamcore/depth/image_raw"/>
    <remap from="scan" to="/point_cloud_slice"/>
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="point_cloud_frame_pub"
        args='0.0 0.0 0.0 0.5 -0.5 0.5 0.5 "slamcore/camera_0" "slamcore/lasercan"'
        required="true"/>
</launch>
