<?xml version="1.0"?>

<!--
  Useful for debugging or just viewing a model of your choice
 -->
<launch>
  <arg name="urdf_file" default="$(find slamcore_ros1_examples)/descriptions/slamcore-kobuki.urdf.xacro"/>
  <arg name="joint_pub_gui" default="false"/>

  <arg name="urdf_command" value="$(find xacro)/xacro $(arg urdf_file)"/>
  <param name="robot_description" command="$(arg urdf_command)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="5.0"/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg joint_pub_gui)"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros1_examples)/rviz/model.rviz"/>
</launch>
